@import './globalStyle';

p{
  margin: 0;
}

.App{
  width: 100vw;
  
  & > * {
    padding: 0 10%;
    
    @media (max-width: $mobile-breakPoint-landscape){
      padding: 0 16px;
    }
    
    @media (min-width: $mobile-breakPoint-landscape) and (max-width: $tablet-breakPoint){
      padding: 0 32px;
    }
  }
}