$white: #FFFFFF;
$offWhite: #D9FCFF;
$darkGreen: #0FB786;
$green: #24b47e;
$lightGreen: #B9F4BC;
$purple: #6B7C93;
$darkPurple: #32325D;
$dividerColor: #F6F9FC;

$smallFont : 16px;
$mediumFont: 20px;
$semiLargeFont: 28px;
$largeFont: 36px;

$mobileLargeFont: 26px;

$regularFont : 400;
$semiBoldFont: 500;
$boldFont    : 600;

//Most of the Smartphones Mobiles (Portrait)
// max-width: 480px
$mobile-breakPoint : 480px;
//Low Resolution Tablets, Mobiles (Landscape)
// (min-width: 481px) and (max-width: 767px)
$mobile-breakPoint-landscape : 767px;
//Tablets, Ipads (portrait)
// (min-width: 768px) and (max-width: 1024px)
$tablet-breakPoint : 1024px;
//Tablets, Ipads (landscape)
// (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)