$white: #FFFFFF;
$offWhite: #D9FCFF;
$green: #24b47e;
$lightGreen: #B9F4BC;
$purple: #6B7C93;
$darkPurple: #32325D;
$dividerColor: #F6F9FC;

$smallFont : 16px;
$mediumFont: 20px;
$largeFont: 40px;

$regularFont : 400;
$semiBoldFont: 500;
$boldFont    : 600;

//Most of the Smartphones Mobiles (Portrait)
$mobile-portrait: "(max-width: 480px)";
//Low Resolution Tablets, Mobiles (Landscape)
$mobile-landscape: "(min-width: 481px) and (max-width: 767px)";
//Tablets, Ipads (portrait)
$tablet-portrait: "(min-width: 768px) and (max-width: 1024px)";
//Tablets, Ipads (landscape)
$tablet-landscape: "(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)";