@import '../globalStyle';

.Intro{
  min-height: 100vh;
  background: rgb(15,183,134);
  background: linear-gradient(135deg, rgba(15,183,134,1) 0%, rgba(176,223,119,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .IntroHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-weight: $semiBoldFont;
    font-size: $mediumFont;
    color: $white;
    .icon{
      font-size: $smallFont;
    }
  }
  
  .IntroContent{
    display: flex;
    justify-content: space-between;
    
    & > *{
      flex-basis: 45%
    }
    
    .IntroLeft{
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      .IntroMessage{
        height: auto;
        padding: 8px 0;
        background-color: rgba(217,252,255,0.3);
        border-radius: 16px;
        color: $white;
        display: flex;
        align-items: center;
        .messageType{
          margin-left: 8px;
          padding: 0 8px;
          background-color: rgb(15,183,134);
          border-radius: 8px;
          font-weight: $boldFont;
        }
        .message{
          margin: 0 16px 0 12px;
        }
      }
      .IntroTitle{
        margin: 48px 0;
        
        .title{
          color: $white;
          font-size: $largeFont;
          margin-bottom: 16px;
          
        }
        .subTitle{
          color:$offWhite;
          font-size: $smallFont;
        }
      }
      .createAccount{
        font-size: $mediumFont;
        font-weight: $boldFont;
        // background-color: $offWhite;
        color: $green;
      }
    }
    
    .IntroRight{
      padding: 40px 32px; 
      margin: 0;
      
      .Slider{
          margin-bottom: 56px;
      }
      
      .CurrencyInput{
        display: flex;
        
        .input{
          flex-grow: 1;
          
          .label{
            // margin-right: 16px;
          }
        }
        
        .dropdown{
          display: flex;
          align-items: center;
          img{
            margin: 0 .5em 0 0;
            position: relative;
            top: 3px;
          }
        }
      }
      
      .IntroRightBuffer{
        padding: 8px 0;
        display: flex;
        align-items: center;
        
        img{
          margin: 0 12px;
        }
        
        span{
          font-weight: $semiBoldFont;
          color: #999;
          .inputDisplay{
              color: black;
          }
        }
      }
      
      .continueBtn{
        margin-top: 24px;
      }
    }
  }
  
  .IntroFooterBuffer{
    height: 65px;
  }
}

@media (max-width: $mobile-breakPoint-landscape){
  .Intro{
    .IntroContent{
      flex-flow: column;
      .IntroLeft{
        align-items: inherit;
        margin-bottom: 32px;
        .IntroTitle{
          margin: 24px 0;
          .title{
            font-size: $mobileLargeFont;
            text-align: center;
          }
        }
      }
      .IntroRight{
        
        .rc-slider-mark{
            font-size: 10px;
        }
      }
    }
  }
}