@import '../globalStyle';

.Testimonials{
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  .TestimonialsHeader{
    max-width: 750px;
    margin: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    @media (max-width: $mobile-breakPoint){
      margin: 48px 16px;
    }
    
    .headerIcon{
      background-color: $lightGreen;
      height: 64px;
      width: 64px;
      border-radius: 32px;
      text-align: center;
      padding-top: 22px;
      i{
        font-size: 26px;
        margin: 0;
        color: $green;
      }
    }
    
    .headerTitle{
      color: $green;
      font-size: $mediumFont;
      font-weight: $boldFont;
      margin: 24px 0;
    }
    
    .headerContent{
      color: $purple;
      font-size: $smallFont;
      font-weight : $regularFont;
    }
  }
  
  .TestimonialCards{
    width: 100%;
    flex-grow: 1;
    margin-bottom: 48px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    @media (max-width: $mobile-breakPoint-landscape){
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .TestimonialCard{
      flex-basis: 45%;
      height: 200px;
      margin: 0 0 32px 0;
      padding: 16px;
      
      display: flex;
      align-items: center;
      
      @media (max-width: $mobile-breakPoint-landscape){
        flex-basis: 100%;
        height: 200px;
        margin: 8px 0;
      }
      
      .TestimonialPicture{
        width: 108px;
        height: 108px;
        margin-right:16px;
        
      }
      
      .TestimonialContent{
        
        .name{
          color:$green;
          font-size: $smallFont;
          font-weight: $boldFont;
          
          @media (max-width: $mobile-breakPoint-landscape){
            margin: 0 0 12px;
          }
        }
        
        .testimonial{
          color: $purple;
          font-size: $smallFont;
          font-weight : $regularFont;
        }
      }
    }
  }
}